.display-row {
    display: flex;
    background-color: #f2f2f2; 
    padding: 1rem; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 1rem; 
    margin: 1rem;
  }
  
  .header-row {
    justify-content: center; 
    flex-wrap: wrap; 
    align-items: center; 
    padding: 1px;
    width: 100%;
  }
  